
{% extends 'layout.html' %} 
{% block main %} 

<main class="main-h">

<!-- Header for tutorial-->

   <div class="card text-center principal-main">
   <!--  Header block -->
            <div class="card-header">
               Logged Tutorial
               <a href="tutorial.html">  
               <button type="button" class="btn btn-dark generate" href="generate.html">Tutorial</button>
               </a>
            </div>
   
      <!-- botones en header -->
            <div class="card-header buttons-main">
               <button type="button" class="btn btn-primary insert" data-toggle="modal" data-target="#agregar">New Site</button> 

                  <button type="button" class="btn btn-danger delete" data-toggle="modal" data-target="#eliminar">Delete Site</button>
            </div>
   <!--  Header block -->

   <!-- Principal -->
         <div class="card-header">
            <h3>Sites</h3>
         </div>

         <div class="row my-auto sitios">
            <div class="col-sm-4">
              <div class="nav flex-column nav-pills pildoras-main" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              {% if sites %}
              {%for name in sites %}

              <form action="{{ url_for('results') }}" method="post">
                <input class="form-check-input position-static" type="radio" name="selected" id="blankRadio1" value="{{ name.site }}" aria-label="..." style="display:none;" checked>
                <button class="nav-link sitios  {{ name.color}}" type="submitt" aria-selected="true">{{ name.site }}</button>
               </form>

               {% endfor %}
               {% endif %}
              </div>
            </div>
         </div>
   <!-- Principal -->


         <!--- INSERT MODAL -->

         <div class="modal modal-insert" tabindex="-1" role="dialog" id="agregar">
            <div class="modal-dialog" role="document">
               <div class="modal-content">

                  <div class="modal-header">
                     <h5 class="modal-title">New Site</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>

                  <div class="modal-body">
                     <form action="{{ url_for('addsite') }}" method="post">
                        <div class="form-group">
                           <label for="formGroupExampleInput">Enter site name here</label>
                           <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Eg. Google" name="sitename" required>
                        </div>

                        <div class="form-group">
                           <label for="formGroupExampleInput">Enter site url</label>
                           <input type="text" class="form-control" id="formGroupExampleInput" placeholder="https://www.siteurlexample.com" name="url">
                        </div>
                        <div class="form-row align-items-center">
                           <div class="col-auto my-1">
                           <p class="h6">Select color</p>
                               <select class="custom-select mr-sm-2 bl" id="colorselect" name="sitecolor">

                                    <option value="bl" class="bl" selected>Blue</option>
                                    <option value="gr" class="gr">Green</option>
                                    <option value="re" class="re" >Red</option>
                                    <option value="br" class="br">Brown</option>
 
                              </select>
                           </div>
                        </div>
                     </div>

                        <div class="modal-footer">
                           <button type="submitt" class="btn btn-primary">Save</button>
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                     </form>                  
                  </div>
               </div>
            </div>

            <!-- End Of Modal -->



                     <!--- MODAL for site deletion-->

         <div class="modal modal-insert" tabindex="-1" role="dialog" id="eliminar">
            <div class="modal-dialog" role="document">
               <div class="modal-content">

                  <div class="modal-header">
                     <h5 class="modal-title">Delete Site</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>

                  <div class="modal-body">
                     <form action="{{ url_for('delete') }}" method="post">

                        <div class="form-group">
                           <label for="formGroupExampleInput">Current Sites</label>
                        </div>
                     <!-- Modal for loop for site deletion -->
                        <div class="row my-auto sitios">
                           <div class="col-sm-4">
                              <div class="nav flex-column nav-pills pildoras-main" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                 {% if sites %}
                                    {%for name in sites %}                                       
                                       <div class="form-check form-check-inline">
                                          <a class="nav-link {{ name.color}}" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">{{ name.site }}</a>
                                          <input class="form-check-input position-static" type="radio" name="deleteRadio" id="blankRadio1" value="{{ name.site }}" aria-label="...">
                                       </div>                                                                              
                                    {% endfor %}
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                      <!-- Modal for loop for site deletion -->




                  </div>

                        <div class="modal-footer">
                           <button type="submitt" class="btn btn-primary">Delete</button>
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                     </form>  

                  </div>
               </div>
            </div>

            <!-- End Of Modal -->
            

       </div>

                <!--  Header block -->


      </main>












            <div class="card-header salir">
               Log Out
               <a href="logout.html">  
               <button type="button" class="btn btn-dark generate" href="generate.html">Log Out</button>
               </a>
            </div>


{% endblock %}


