{% extends 'layout.html' %}
{% block main %}

<main>
        <div class="card text-center principal">
        
            <form class="my-auto">
            <nav class="navbar navbar-dark bg-dark my-auto">
                    <a class="navbar-brand"href="">
                    <img src="../static/img/success.svg" width="90" height="90" class="d-inline-block align-top" alt="">
                    </a>
                </nav>
            
                <div class="card-body align-middle ">
                    <h5 class="card-title" >Clave generada</h5>
                    <p class="h4" id="key">{{    keygen    }}</p>
                    <br>
                    <button class="boton btn btn-dark" data-clipboard-target="#key">
                        Copiar clave
                    </button>
                    <br>
                    <br>
                    <p>La clave ha sido generada con exito, recuerde copiarla y pegarla de manera que sea de fácil acceso</p>
                    <div class="form-row d-flex justify-content-center">
                        <form method="post">
                            <div class="col-11">
                                <a href="index.html">
                                    <button type="button" class="btn btn-info generate">Ingresar clave</button>
                                </a>
                            </div>
                        </form>

                        
                    </div>

                    <br>

                    <div class="form-row d-flex justify-content-center">
                            <div class="col-5">
                                    
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </main>



{% endblock %}